.container {
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 300px;
    margin: 10px 0px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titleContainer {
        display: flex;
        justify-content: space-between;
    }

    .secondContainer {
        p {
            margin: 3px;
        }
    }
}